<!-- <h1> Welcome To My Blog Post App <h1>
  <h2> Make a Post! <h2>
<form action='/posts' method='post'>
<label>Post Name:</label><input id='name' type='text' name='post[name]'><br />
<label>Post Content:</label><input id='content' type='text' name='post[content]'><br />




<button type='submit' value='submit'>Submit</button>
</form> -->



+<form action="/posts" method="post">
 +<input type="text" name="name">
 +<input type="text" name="content">
 +<input type="submit" name="submit" id="submit">
 +
 +</form>
