<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Selected Post</title>
  </head>

    <h1><%= @post.name %></h1>
  <body>
    <p><%= @post.content %></p>
  </body>
</html>


<form method="post" action="/posts/<%= @post.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" value="delete">
</form>

